@model ML.Materia
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Form</h2>

<div class="container">

   
    @using (Html.BeginForm("Form", "Materia", FormMethod.Post))
    {

        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.IdMateria)
                @Html.TextBoxFor(model => model.IdMateria, new { @class = "form-control" })
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Nombre)
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
            </div>
        </div>
        @*creditos*@
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Creditos)
                @Html.TextBoxFor(model => model.Creditos, new { @class = "form-control" })
            </div>
        </div>
        @*costo*@
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Costo)
                @Html.TextBoxFor(model => model.Costo, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Semestre.IdSemestre)
                @Html.TextBoxFor(model => model.Semestre.IdSemestre, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Cancelar", "GetAll", "Materia", new { @class = "btn btn-danger" })
            </div>
        </div>
    }
    </div>
